@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <a asp-action="Items" class="btn btn-primary">Overview</a>
  <a asp-action="CreatAndEdit" class="btn btn-primary">Creat / Edit</a>
</div>
